body {
    background: #333;
    color: #c2c2c2;
    font-size: 1.1rem;
}

.hero-body hr {
    width: 100px;
    margin: 10px auto;
    height: 2px;
    background: #ed6a5a;
}

.hero-body .arrow {
    margin-top: 3rem;
}

.hero-body .arrow i {
    font-size: 2rem;
}

.navbar-item, .navbar-link {
    color: #dbdbdb;
}

#technologies ul {
    padding: 0;
    margin: 0;
}

#technologies li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}